//
body{
    background: #fefefe;
}

footer{
    width: 80%;
    margin: 0 auto;
}

.site-header{
    background-color: rgba(0, 0, 0, .85);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}


